@font-face {
    font-family: 'Seagull-Medium';
    src: url('../public/Seagull-Medium.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

.ant-form-item {
    margin-bottom: 10px;
}

#card-craft-select .ant-radio-inner,
#card-craft-select .ant-radio-inner:after {
    opacity: 0;
    position: fixed;
    width: 0;
}

#card-craft-select .ant-radio-wrapper-checked {
    border: 2px dashed #84bef5;
}

#card-craft-select .ant-radio-wrapper:hover {
    background-color: #dfd;
}

.bg-thumbnail {
    padding: 5px;
}

.card-details-form-container {
    width: 600px;
    padding: 10px;
}

.card-art-upload-container {
    width: 300px;
}

.selected-bg-thumbnail {
    border: 2px dashed #84b3f5;
}