@font-face {
    font-family: 'Seagull-Medium';
    src: url('../public/Seagull-Medium.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

.ant-form-item {
    margin-bottom: 10px;
}

#image-upload-container {
    width: 300px;
}